<h1>All Categories</h1>
<% @categories.each do |category| %>
  <%= category.title %>
  <%= link_to "edit this category", edit_admin_category_path(category) %>
  <%= link_to "delete this category", admin_category_path(category), method: 'delete' %>
<% end %>
