<h1>All Categories</h1>
<% @categories.each do |category| %>
  <%= link_to category.title, admin_category_path(category), class: "category-link" %><br><br>
  <%= link_to "edit this category", edit_admin_category_path(category) %><br>
  <%= link_to "delete this category", admin_category_path(category), method: 'delete' %><br><br>
<% end %>
