html{
  background: darkslategray;
}

main{
  text-align: center;
}

.navigation{
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    font-size: 25px;
    background-color: #262626;
}

h1{
  color: #b2cecd;
    text-align: -webkit-center;
    font-size: 50px;
}

ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
}

a {
  font-size: 20px;
  color: #DDDDDD;
  text-decoration: none;
}

.user-edit-container {
  margin-top: 29vh;
  display: flex;
  justify-content: space-around;
  background-color: #3A3A3A;
  padding: 10px;
}

.card{
  padding:12px;
  background: white;
  width: 300px;
  display: inline-block;
  margin-bottom: 82px;
}

.new-idea{
  padding-top: 12px;
}

.logout{
  margin-left: 90%;
}

h4 {
  margin: 2px;
  font-size: 25px;
  color: #b2cecd;
}

.category-link {
  font-size: 30px;
  color: black;
  margin: 8px;
}
